body {
    margin: 0;
}

.icon-bar {
    width: 60px;
    background-color: #f8f6f6;
}
nav {
    margin-left: 0;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: rgb(63, 61, 61);
    font-size: 25px;
}

.icon-bar a:hover {
    background-color: #000;
}

/* .active {
  background-color: #04AA6D;
} */

header {
    margin-right: 50px;
    margin-left: 115px;
}
body {
    text-align: right;
}
